:root {
  --primary-color: blue;
  --secondary-color: #f5f2fe;
  --pseudo-color: #e2dfeb;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--pseudo-color);
  /* background-color: red; */
}

.navbar-a {
  /* color: var(--pseudo-color) !important; */
  font-weight: 600 !important;
}
.container-index {
  margin: 60px auto;
  max-width: 800px;
}

.name {
  font-size: 60px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  color: black;
  opacity: 0.7;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

.greeting {
  margin-top: 25px !important;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  line-height: 60px;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.images {
  max-width: 100%;
  height: auto;
  margin: 5px;
  padding: 10px;
}

.ego {
  width: 450px;
  height: auto;
}

.flag {
  width: 40px;
  height: auto;
}

.loren {
  padding: 4px 60px 4px 60px;
  margin: 15px;
  align-items: center;
  text-align: center;
  max-width: 100%;
}

.weather-app {
  font-size: 50px;
  font-weight: 500;
  color: black;
  opacity: 0.7;
  /* align-items: center;
  text-align: center; */
  /* margin-top: 80px; */
}

button {
  padding: 15px;
  background-color: var(--primary-color);
  color: var(--pseudo-color);
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600px;
}

.weather-app-container {
}

@media (max-width: 750px) {
  .navbar-button {
    margin-right: 10px;
  }
  .about-me {
    font-size: 60px;
  }

  .about-image {
    display: none;
  }

  .weather-app {
    text-align: center;
  }

  .button-description {
    width: 350px;
    border-radius: 8px;
  }
}
